{% load static %}
<!doctype html>
<html>
<head>
<title>signIn Page</title>
<meta name="description" content="Sign In Page">
<meta name="keywords" content="html template">
<link rel="stylesheet" type="text/css" href="{% static 'users/style.css' %}">
</head>
<body>
<h3>Signed In</h3>

<form action="/signin" method="post">
    {% csrf_token %}
    <label for="">Username</label>
    <input type="text" id="username" name="username" placeholder="Enter Your Username" required>
    <br>

    <label for="">Password</label>
    <input type="password" id="pass1" name="pass1" placeholder="Enter Your Password" required>
    <br>
    
    <button types="submit">Sign In</button>
</body>
</html>